<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ben.TorrentLeechDroid" android:versionCode="4" android:versionName="1">
    <application android:label="@string/app_name" android:allowClearUserData="true" android:icon="@drawable/tld_logo" android:name="TorrentLeechDroidApp">
        <activity android:name=".TorrentLeechDroid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".TorrentList" android:label="Torrent List"/>
		<activity android:name=".Search" android:label="Torrent Search"/>
		<activity android:name=".InfoView" android:label="Torrent Info">
      	</activity>
		
    </application>



<uses-permission android:name="android.permission.INTERNET"></uses-permission>


<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

<uses-sdk android:minSdkVersion="4"></uses-sdk>

</manifest> 